div.wrapper {
	height: auto;
	position: relative;
	margin: auto;
	margin-bottom: 70px;
	margin-top: 30px;
	width: 1200px;
}

div.wrapper div.title-head {
	/* background: linear-gradient(to right, #008cd7, #5ec7ff); */
	background-color: #36b9cc !important;
    background-image: linear-gradient(180deg,#36b9cc 10%,#258391 100%);
	border-radius: 5px;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
	padding: 15px 30px;
	width: 100%;
}

div.wrapper div.title-head h2.title {
	color: white;
	font-size: 17px;
	margin-bottom: 0;
}

div.wrapper div.core {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
	width: 1200px;
}

div.wrapper div.core div.filter {
	align-self: flex-start;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	height: auto;
	padding-bottom: 10px;
	width: 250px;
}

div.wrapper div.core div.filter div.filter-main {
	height: auto;
}

div.wrapper div.core div.filter div.top {
	background-color: #e5e5e5;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	height: auto;
	width: 100%;
}

div.wrapper div.core div.filter div.top p {
	color: #333333;
	font-family: "Nunito";
	font-size: 18px;
	margin-bottom: 0;
	padding: 12px 17px;
}

div.wrapper div.core div.filter div.bodf {
	box-sizing: border-box;
	padding: 5px 15px;
}

div.wrapper div.core div.filter div.bodf p.title {
	color: #444444;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 7px;
	margin-top: 10px;
}

div.wrapper div.core div.filter div.bodf a {
	color: #666666;
	display: block;
	font-family: "Open Sans";
	font-size: 14px;
	margin: 2px 0;
}

div.wrapper div.core div.filter div.bodf a:hover {
	color: #008cd7;
}

div.wrapper div.core div.main-product {
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
	position: relative;
	width: 900px;
}

div.wrapper div.core div.main-product div.card {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px;
	border-radius: 5px;
	border: none;
	height: auto;
	margin: 0 10px;
	margin-bottom: 10px;
	width: 160px;
}

div.wrapper div.core div.main-product div.card:hover div.card-body p.card-text {
	color: #008cd7;
}

div.wrapper div.core div.main-product div.card div.card-body {
	margin-top: 10px;
	padding: 0;
}

div.wrapper div.core div.main-product div.card div.card-body p.card-text {
	color: #333333;
	font-size: 15px;
	line-height: 22px;
	overflow: hidden;
	padding: 0 10px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}

div.wrapper div.core div.main-product div.card div.card-body p.oldPrice {
	color: #777777;
	font-size: 14px;
	margin-top: 5px;
	text-decoration: line-through;
	padding: 0 10px;
}

div.wrapper div.core div.main-product div.card div.card-body p.newPrice {
	color: #2c598a;
	font-family: "Nunito";
	font-size: 15px;
	font-weight: 600;
	padding: 0 10px;
	margin-top: 5px;
}

div.wrapper div.testi {
	height: auto;
	width: 100%;
}
